RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /
# IMECWWW-START
RewriteBase /~demeye78/API/public/
# IMECWWW-END

# If the file with the specified name in the browser doesn't exist,
# or the directory in the browser doesn't exist then proceed to the rewrite rule below
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]